<div class="card text-white bg-warning">
	<div class="card-body pb-0">
		<div class="btn-group float-right" sec:authorize="hasRole('FRANQUEADO') or hasRole('CONSULTOR')">
            <div class="dropdown-menu dropdown-menu-right">
 				<a class="dropdown-item" th:text="TODAS" th:onclick="'_dashboard.propostasPortabilidade(\'' + ${usuario.id} + '\', null, null);'"></a>
              
              	<a class="dropdown-item" th:each="unidade : ${unidades}" th:text="${unidade.nome}" 
              		th:onclick="'_dashboard.propostasPortabilidade(\'' + ${usuario.id} + '\', \'' + ${unidade.id} + '\', \'' + ${unidade.nome} + '\');'">
              	</a>
            </div>
		</div>
		<div id="totalPPortabilidade" class="text-value"></div>
		<div>Propostas Portabilidade</div>
		<div id="ppNomeUnidade"></div>
	</div>
	<div class="chart-wrapper mt-3 mx-3" style="height: 70px;">
	</div>
</div>
