<!-- CoreUI and necessary plugins-->
<script src="/js/plugins/jquery.min.js"></script>
<script src="/js/plugins/jquery.mask.min.js"></script>
<script src="/js/plugins/jquery-ui.js"></script>
<script src="/js/plugins/jquery.validate.min.js"></script>
<script src="/js/plugins/jquery.cookie.js"></script>
<script src="/js/plugins/popper.min.js"></script>
<script src="/js/plugins/bootstrap.min.js"></script>
<script src="/js/plugins/pace.min.js"></script>
<script src="/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/js/plugins/coreui.min.js"></script>

<script src="/js/plugins/raphael-min.js"></script>
<script src="/js/plugins/morris.min.js"></script>
<script src="/js/plugins/jquery.fileupload.js"></script>
<script src="/js/plugins/bootstrap-imageupload.min.js"></script>
<script src="/js/plugins/jquery.steps.min.js"></script>
<script src="/js/plugins/jquery.steps.ext.js"></script>
<script src="/js/plugins/jquery.iframe-transport.js"></script>
<script src="/js/plugins/btmultiselect/BsMultiSelect.js"></script>
<script src="/js/plugins/fuse.min.js"></script>
<script src="/js/plugins/fuzzycomplete.min.js"></script>
<script src="/js/plugins/jquery.mswitch.js"></script>
<script src="/js/plugins/bootstrap-table.min.js"></script>
<script src="/js/plugins/bootstrap-table-pt-BR.js"></script>
<script src="/js/plugins/jquery.preloaders.min.js"></script>
<script src="/js/plugins/chart.min.js"></script>
<script src="/js/plugins/moment.min.js"></script>
<script src="/js/plugins/fullcalendar.min.js"></script>
<script src="/js/plugins/pt-br.js"></script>
<script src="/js/plugins/jquery.datetimepicker.full.min.js"></script>
<script src="/js/plugins/autoNumeric-1.8.3.js"></script>
<script src="/js/plugins/btmultiselect/BsMultiSelect.js"></script>
<script src="/js/plugins/timeline.js"></script>
<script src="/js/plugins/canvasjs.min.js"></script>


<!-- application scripts -->
<script src="/js/common.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/login.js"></script>
<script src="/js/usuario.js"></script>
 