  <head>
    <base href="./" />
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta name="keyword" content=""/>
    <title>Boa Saude</title>

    <!-- Icons-->
    <link href="/css/plugins/coreui-icons.min.css" rel="stylesheet"/>
    <link href="/css/plugins/flag-icon-css/css/flag-icon.min.css" rel="stylesheet"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="/css/plugins/simple-line-icons/css/simple-line-icons.css" rel="stylesheet"/>
    <link href="/css/plugins/jquery-ui.css" rel="stylesheet" >

	<!-- Plugins -->    
    <link href="/css/plugins/jquery.steps.css" rel="stylesheet"/>
	<link href="/css/plugins/jquery.fileupload.css" rel="stylesheet"/>
    <link href="/css/plugins/btmultiselect/BsMultiSelect.css" rel="stylesheet"/>
	<link href="/css/plugins/fuzzycomplete.css" rel="stylesheet"/>
	<link href="/css/plugins/jquery.mswitch.css" rel="stylesheet"/>
	<link href="/css/plugins/bootstrap-table.min.css" rel="stylesheet"/>
	<link href="/css/plugins/bootstrap-checkbox.css" rel="stylesheet"/>
	<link href="/css/plugins/jquery.datetimepicker.min.css" rel="stylesheet"/>
	<link href="/css/plugins/pace.min.css" rel="stylesheet"/>
    <link href="/css/plugins/fullcalendar.min.css" rel="stylesheet"/>
    <link href="/css/plugins/jquery.datetimepicker.css" rel="stylesheet"/>
    <link href="/css/plugins/timeline.css" rel="stylesheet"/>
    <link href="/css/plugins/notification.css" rel="stylesheet"/>
    
    <!-- Main styles for this application-->
    <link href="/css/plugins/style.css" rel="stylesheet"/>
    
  </head>