
 <div class="modal fade" id="infoEventModal" tabindex="-1" role="dialog" aria-labelledby="infoEventModal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header ninho-theme">
          <i class="far fa-calendar-alt"></i>	
          <span>PRÓXIMO(S) COMPROMISSO(S)</span>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="ninho-theme">X</span>
          </button>
        </div>
        <div class="modal-body div-modal-event-body">
         </div>
      </div>
      <!-- /.modal-content-->
    </div>
    <!-- /.modal-dialog-->
  </div>
 